/* ===================
Button
=================== */
.button {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  outline: none;
  transition: .3s;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    opacity: 0.7;
  }

  /* ===================
  Button - Size
  =================== */
  &.--small {
    padding: 6px 10px;
    font-size: 10px;
  }

  &.--medium {
    padding: 12px 20px;
    font-size: 14px;
  }

  &.--large {
    padding: 16px 24px;
    font-size: 18px;
  }

  /* ===================
  Button - Type
  =================== */
  &.--default {
    background: #fff;
    border-color: #dcdfe6;
    color: #606266;
  }

  &.--primary {
    background-color: #409eff;
    border-color: #409eff;
    color: #fff;
  }

  &.--success {
    background-color: #1cbdb4;
    border-color: #1cbdb4;
    color: #fff;
  }

  &.--info {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
  }

  &.--warning {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
  }

  &.--alert {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
  }

  /* ===================
  Button - Circle
  =================== */
  &.--circle {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;

    &:hover,
    &:active {
      opacity: 0.9;
      box-shadow: none;
    }
  }

  /* ===================
  Button - Transparent
  =================== */
  &.--transparent {
    border: none;
    background-color: transparent;

    &.--small {
      padding: 2px 6px;
    }

    &.--medium {
      padding: 3px 8px;

    }

    &.--large {
      padding: 4px 10px;
    }

    &.--primary {
      color: #409eff;
    }

    &.--success {
      color: #1cbdb4;
    }

    &.--info {
      color: #909399;
    }

    &.--warning {
      color: #e6a23c;
    }

    &.--alert {
      color: #f56c6c;
    }
  }

  /* ===================
  Button - Display
  =================== */
  &.--inline {
    display: inline;
  }

  &.--inline-block {
    display: inline-block;
  }

  &.--block {
    display: block;
  }

  /* ===================
  Button - Disable
  =================== */
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
